<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PriCoSha | Group Management</title>
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/main.css">
</head>

<body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
        <div class="container">
            <a class="navbar-brand" href="#">PriCoSha</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('index')}}">home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('post')}}">post</a>
                    </li>
		            <li class="nav-item">
                        <a class="nav-link active" href="{{url_for('GroupManagement')}}">your groups</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('logout')}}">logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <center>
    <p>
        Hi, {{email}}
    </p>
    </center>

    <div id="form-div">
        <form action="/create/new/group" method="POST">
            <center>
            <h6>Create New Group:</h6>
            <div class="input-group form-group">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="">Name</span>
                </div>
                <input type="text" class="form-control" id= “groupname", name="groupname" placeholder="Group Name" required>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" id="" name="description" placeholder="Description" required>
            </div>
        <button type="submit" class="btn btn-primary" id="signUpBtn">Create</button>
        </form>
        </center>
    </div>

    <style type="text/css">
	table, th, td{
		border: 1px solid black;
	}
    </style>


    <div id="table-div">
    <center>
         <table>
	        <th>GroupName</th>
	        <th>Owner</th>

             {% for line in belong %}
	        <tr>
		        <td>{{line.fg_name}}</td>
                <td>{{line.owner}}</td>
            </tr>
        {% endfor %}
        </table>
    </center>
    </div>





<!-- Create FG, Give it a Unique name, Might add description-->
<!-- Might add User to FG, no duplication though,  -->
</body>

</html>
