<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>PriCoSha</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static',filename='vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
      <div class="container">
        <a class="navbar-brand" href="#">PriCoSha</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('post')}}">post</a>
            </li>
            {% if 'user' not in session %}
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('login')}}">log in</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('signup')}}">sign up</a>
            </li>
            {% endif %}
            {% if 'user' in session %}
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('GroupManagement')}}">your groups</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('logout')}}">logout</a>
            </li>
            {% endif %}


          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h1 class="mt-5">PriCoSha Database Project</h1>

          <p class="lead">Welcome to the our site</p>
          <ul class="list-unstyled">
            <li>Kaixuan Zhou</li>
            <li>Ruiqi Tao</li>
            <li>Mengzhe Ding</li>
          </ul>
        </div>
      </div>
    </div>

    <!-- Pending Tags -->

    <div class="tag-container">
      <p class="header">Here are your tags:</p>
      <ul>
        {% for row in tag_data %}
        <div id="received-tags">
          <a href="" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">{{row[9]}}</h5>
              <p><small>{{row[7]}}</small></p>
              <div class="accept-or-deny" role="decide" aria-label="Toolbar with button groups">
                <button type="button" class="btn btn-secondary" onclick="accept_tag()">Accept</button>
                <button type="button" class="btn btn-secondary" onclick="reject_tag()">Deny</button>
              </div>
            </div>
            <p class="mb-1">{{row[1]}} tags you</p>

          </a>
        </div>
        {% endfor %}
    </ul>

    </div>


    <!-- Bootstrap core JavaScript -->
    <script src="{{url_for('static', filename='vendor/jquery/jquery.min.js')}}"></script>
    <script src="{{url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>

    <script>
      function accept_tag(){
        alert('accept');
        var x = document.getElementById("received-tags");
        x.style.display = "none";

      }

      function reject_tag(){
        alert('reject');
        var x = document.getElementById("received-tags");
        x.style.display = "none";
      }

      function update(){
        $.ajax({
            type:"POST",
            data:form_data,
            url: "/tag",
            cache:false,
            processData:false,
            contentType:false,
            success: function(tags){

            },
            error: function(err){
                alert("umm");
            }
        })
      }
    </script>

  </body>

</html>
