<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>PriCoSha</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static',filename='vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
      <div class="container">
        <a class="navbar-brand" href="#">PriCoSha</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('post')}}">post</a>
            </li>
            {% if 'user' not in session %}
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('login')}}">log in</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('signup')}}">sign up</a>
            </li>
            {% endif %}
            {% if 'user' in session %}
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('GroupManagement')}}">your groups</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('logout')}}">logout</a>
            </li>
            {% endif %}


          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h1 class="mt-5">PriCoSha Database Project</h1>

          <p class="lead">Welcome to the our site</p>
          <ul class="list-unstyled">
            <li>Kaixuan Zhou</li>
            <li>Ruiqi Tao</li>
            <li>Mengzhe Ding</li>
          </ul>
        </div>
      </div>
    </div>

    <!-- Pending Tags -->

    <div class="tag-container">
      <p class="header">Here are your tags:</p>
      <ul>
        {% for row in tag_data %}
        <div class="tags" id={{row[0]+row[1]+row[2]|string}} data-itemId={{row[2]}} data-taggee={{row[0]}} data-tagger={{row[1]}}>
          <a href="/post/blog/{{row[2]|string}}" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">{{row[9]}}</h5>
              <p><small>{{row[7]}}</small></p>
              <div onclick="event.stopPropagation(); alert('you clicked inside the header');" class="accept-deny" role="decide" aria-label="Toolbar with button groups">
                <button class="accept-deny" type="button" data-itemId={{row[2]}} data-taggee={{row[0]}} data-tagger={{row[1]}} class="btn btn-secondary" onclick="accept_tag(this)">Accept</button>
                <button class="accept-deny" type="button" data-itemId={{row[2]}} data-taggee={{row[0]}} data-tagger={{row[1]}} class="btn btn-secondary" onclick="reject_tag(this)">Deny</button>
              </div>
            </div>
            <p class="mb-1">{{row[1]}} tags you</p>

          </a>
        </div>
        {% endfor %}
    </ul>

    </div>


    <!-- Bootstrap core JavaScript -->
    <script src="{{url_for('static', filename='vendor/jquery/jquery.min.js')}}"></script>
    <script src="{{url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>

    <script>
    var decision = 1
    Boolean (decision);
    var res = new Array();

      function accept_tag(elem){

        var item_id = $(elem).attr('data-itemId');
        var taggee = $(elem).attr('data-taggee');
        var tagger = $(elem).attr('data-tagger');
        res.push(item_id);
        res.push(taggee);
        res.push(tagger);
        res.push(decision);
        var x = document.getElementById(taggee + tagger + String(item_id));
        x.style.display = "none";
        update("accepted");
      }

      function reject_tag(elem){
        document.getElementByClassName("accept-deny").addEventListener("click", function(event){
          event.stopPropagation()
        });
        var item_id = $(elem).attr('data-itemId');
        var taggee = $(elem).attr('data-taggee');
        var tagger = $(elem).attr('data-tagger');
        res.push(item_id);
        res.push(taggee);
        res.push(tagger);
        decision = 0;
        res.push(decision);
        var x = document.getElementById(taggee + tagger + String(item_id));
        x.style.display = "none";
        update("denied");
      }

      function update(status){
        $.ajax({
            type:"POST",
            data:{'data':res},
            url: "/tag",
            success: function(){

              alert(status);
            },
            error: function(err){
                alert("umm");
            }
        })
      }
    </script>

  </body>

</html>
